<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>
<h3>Welcome {{emailId}}!</h3>

<h1 align="center">Employees Data</h1>
<br/>
 
 <div align="center">
<h2 align="center">Employee List</h2>
    <table border='2' align="center"class="table table-hover table-striped table-sm table-bordered">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">EmpId</th>
                <th class="bg-info text-white">EmpName</th>
                <th class="bg-info text-white">Salary</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">DateOfJoin</th>
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">Email-Id</th>
                <th class="bg-info text-white">Experience</th>
                <th class="bg-info text-white text-center">Delete</th>
            </tr>
        </thead>
        <tbody border='2'>
            <tr *ngFor="let employee of emp" align="center">
                <td>{{employee.empId}}</td>
                <td>{{employee.empName | gender:employee.gender | uppercase}}</td>
                <td>{{employee.salary | currency:"INR" }}</td>
                <td>{{employee.gender  | uppercase}}</td>
                <td>{{employee.doj | date:'dd-MMM-yyyy'}}</td>
                <td>{{employee.country}}</td>
                <td>{{employee.emailId}}</td>
                <td>{{employee.doj | exp}}  year(s)</td>
                <td><button (click)="deleteEmployeeById(employee)"  class="glyphicon glyphicon-trash"> </button></td>
            </tr>
        </tbody>
    </table>
    