
<!--<app-showemployee></app-showemployee>
<app-register></app-register>
<app-test2></app-test2>
<app-showemp-by-id></app-showemp-by-id>
<app-test></app-test>
<app-register></app-register>
<app-products></app-products>
<app-login></app-login>
<app-cart></app-cart>-->
<app-header></app-header>
<br/>
<marquee><h1 style="color: red;">Welcome to Angular Routing</h1></marquee>
<br/>
<router-outlet></router-outlet>
