<p>welcome to ts</p>
<div>
    Id:{{id}}<br/>
    Name:{{name}}<br/>
    Avg:{{avg}}<br/><br/>

   <b><u>Address</u></b><br/>
   StreetNo:{{address.streetno}}<br/>
   City:{{address.city}}<br/>
   State:{{address.state}}<br/><br/>
   <b><u>hobbies</u></b><br/>
   <ul>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
   </ul>
</div>
